.sort {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 20px;
  top: 50%;
  list-style: none;
  max-width: 280px;
  width: calc(100% - 40px);
  background: #FFFFFF;
  z-index: 700;
  &__item {
    padding: 17px 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $main-color;
    &_active {
      background-color: $accent-coror;
    }
  }
}
@media screen and (min-width: 768px) {
  .sort {
    right: 60px;
  }
}
